Repository thawkin3/js-data-structures-and-algorithms: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ]
}

feat(data-structures): exports nodes, stack, and queue implementations
  src/main.js
Due: eslint --fix, prettier --write

chore(storybook): builds storybook static site v23
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.25662f1f4cd54838cb0c.bundle.js
  storybook-dist/main.83fe9f690cf2f534428c.bundle.js
  storybook-dist/main.83fe9f690cf2f534428c.bundle.js.map
  storybook-dist/main.cebbe3cad874e22df870.bundle.js.map
  storybook-dist/main.fd747299552707a5608b.bundle.js
  storybook-dist/runtime~main.83fe9f690cf2f534428c.bundle.js
  storybook-dist/runtime~main.83fe9f690cf2f534428c.bundle.js.map
  storybook-dist/runtime~main.cebbe3cad874e22df870.bundle.js.map
  storybook-dist/sb_dll/storybook_ui-manifest.json
  storybook-dist/sb_dll/storybook_ui_dll.LICENCE
  storybook-dist/sb_dll/storybook_ui_dll.js
  storybook-dist/vendors~main.19281970218dcd18fba9.bundle.js
  storybook-dist/vendors~main.7085c2eeb80692d4967b.bundle.js
  storybook-dist/vendors~main.83fe9f690cf2f534428c.bundle.js
  storybook-dist/vendors~main.83fe9f690cf2f534428c.bundle.js.LICENSE
  storybook-dist/vendors~main.83fe9f690cf2f534428c.bundle.js.map
  storybook-dist/vendors~main.cebbe3cad874e22df870.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.10.0
  CHANGELOG.md
  package.json
Due: none

chore(dependencies): updates dependencies
  package.json
  yarn.lock
Due: none

build(lint-staged): runs prettier on .md files via lint-staged
  .lintstagedrc
Due: none

feat(queue): adds queue performance test demo
  src/data-structures/queue/demo/queue-performance-test.demo.css
  src/data-structures/queue/demo/queue-performance-test.demo.js
  src/data-structures/queue/demo/queue.demo.js
Due: stylelint --fix, eslint --fix, prettier --write

feat(stack): adds stack performance test demo
  src/data-structures/stack/demo/stack-performance-test.demo.css
  src/data-structures/stack/demo/stack-performance-test.demo.js
  src/data-structures/stack/demo/stack.demo.js
Due: stylelint --fix, eslint --fix, prettier --write

chore(storybook): builds storybook static site v24
  storybook-dist/iframe.html
  storybook-dist/main.83fe9f690cf2f534428c.bundle.js
  storybook-dist/main.83fe9f690cf2f534428c.bundle.js.map
  storybook-dist/main.93ec95819ba6b13dfe8a.bundle.js
  storybook-dist/main.93ec95819ba6b13dfe8a.bundle.js.map
  storybook-dist/runtime~main.83fe9f690cf2f534428c.bundle.js.map
  storybook-dist/runtime~main.93ec95819ba6b13dfe8a.bundle.js
  storybook-dist/runtime~main.93ec95819ba6b13dfe8a.bundle.js.map
  storybook-dist/vendors~main.83fe9f690cf2f534428c.bundle.js
  storybook-dist/vendors~main.83fe9f690cf2f534428c.bundle.js.map
  storybook-dist/vendors~main.93ec95819ba6b13dfe8a.bundle.js
  storybook-dist/vendors~main.93ec95819ba6b13dfe8a.bundle.js.LICENSE
  storybook-dist/vendors~main.93ec95819ba6b13dfe8a.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.11.0
  CHANGELOG.md
  package.json
Due: none

chore(rollup): upgrades rollup to v2.0.5
  package.json
  yarn.lock
Due: none

chore(storybook): builds storybook static site v25
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.5b313b96b3a6b0ef19bb.bundle.js
  storybook-dist/main.5b313b96b3a6b0ef19bb.bundle.js.map
  storybook-dist/main.93ec95819ba6b13dfe8a.bundle.js
  storybook-dist/main.93ec95819ba6b13dfe8a.bundle.js.map
  storybook-dist/runtime~main.5b313b96b3a6b0ef19bb.bundle.js
  storybook-dist/runtime~main.5b313b96b3a6b0ef19bb.bundle.js.map
  storybook-dist/runtime~main.93ec95819ba6b13dfe8a.bundle.js.map
  storybook-dist/sb_dll/storybook_ui_dll.js
  storybook-dist/vendors~main.19281970218dcd18fba9.bundle.js
  storybook-dist/vendors~main.5116b7b401f9787be474.bundle.js
  storybook-dist/vendors~main.5b313b96b3a6b0ef19bb.bundle.js
  storybook-dist/vendors~main.5b313b96b3a6b0ef19bb.bundle.js.LICENSE
  storybook-dist/vendors~main.5b313b96b3a6b0ef19bb.bundle.js.map
  storybook-dist/vendors~main.93ec95819ba6b13dfe8a.bundle.js
  storybook-dist/vendors~main.93ec95819ba6b13dfe8a.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.11.1
  CHANGELOG.md
  package.json
Due: none

chore(dependencies): upgrades dependencies
  package.json
  yarn.lock
Due: none

chore: upgrades dependencies
  package.json
  src/algorithms/search/array/binary-search/src/binary-search.js
  src/algorithms/search/array/linear-search/src/linear-search.js
  src/algorithms/set/additional-demos/view-all.demo.js
  src/algorithms/set/intersection/demo/intersection.demo.js
  src/algorithms/set/set-difference/demo/set-difference.demo.js
  src/algorithms/set/symmetric-difference/demo/symmetric-difference.demo.js
  src/algorithms/set/union/demo/union.demo.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: upgrades dependencies
  package.json
  yarn.lock
Due: none

fix: fixes the binary search storybook demo
  src/algorithms/search/array/demo-utils/search-performance-test.demo.js
Due: eslint --fix, prettier --write

chore(storybook): builds storybook static site v26
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.5b313b96b3a6b0ef19bb.bundle.js
  storybook-dist/main.5b313b96b3a6b0ef19bb.bundle.js.map
  storybook-dist/main.c63fea7721337b01344a.bundle.js
  storybook-dist/main.f3c13061e2dbb85bd5e5.bundle.js
  storybook-dist/main.f3c13061e2dbb85bd5e5.bundle.js.map
  storybook-dist/main.fd747299552707a5608b.bundle.js
  storybook-dist/runtime~main.5b313b96b3a6b0ef19bb.bundle.js.map
  storybook-dist/runtime~main.f3c13061e2dbb85bd5e5.bundle.js
  storybook-dist/runtime~main.f3c13061e2dbb85bd5e5.bundle.js.map
  storybook-dist/sb_dll/storybook_ui-manifest.json
  storybook-dist/sb_dll/storybook_ui_dll.js
  storybook-dist/vendors~main.5116b7b401f9787be474.bundle.js
  storybook-dist/vendors~main.5b313b96b3a6b0ef19bb.bundle.js
  storybook-dist/vendors~main.5b313b96b3a6b0ef19bb.bundle.js.map
  storybook-dist/vendors~main.d8da85c17c59f245d3ad.bundle.js
  storybook-dist/vendors~main.f3c13061e2dbb85bd5e5.bundle.js
  storybook-dist/vendors~main.f3c13061e2dbb85bd5e5.bundle.js.LICENSE
  storybook-dist/vendors~main.f3c13061e2dbb85bd5e5.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.11.2
  CHANGELOG.md
  package.json
Due: none

docs(readme): adds TODO items to readme
  README.md
Due: none

chore(storybook): builds storybook static site v27
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.7fd714c7937ac4d22a4b.bundle.js
  storybook-dist/main.7fd714c7937ac4d22a4b.bundle.js.map
  storybook-dist/main.f3c13061e2dbb85bd5e5.bundle.js
  storybook-dist/main.f3c13061e2dbb85bd5e5.bundle.js.map
  storybook-dist/runtime~main.7fd714c7937ac4d22a4b.bundle.js
  storybook-dist/runtime~main.7fd714c7937ac4d22a4b.bundle.js.map
  storybook-dist/runtime~main.f3c13061e2dbb85bd5e5.bundle.js.map
  storybook-dist/sb_dll/storybook_ui-manifest.json
  storybook-dist/sb_dll/storybook_ui_dll.js
  storybook-dist/vendors~main.7b5c0fd238122b51d8f0.bundle.js
  storybook-dist/vendors~main.7fd714c7937ac4d22a4b.bundle.js
  storybook-dist/vendors~main.7fd714c7937ac4d22a4b.bundle.js.LICENSE
  storybook-dist/vendors~main.7fd714c7937ac4d22a4b.bundle.js.map
  storybook-dist/vendors~main.d8da85c17c59f245d3ad.bundle.js
  storybook-dist/vendors~main.f3c13061e2dbb85bd5e5.bundle.js
  storybook-dist/vendors~main.f3c13061e2dbb85bd5e5.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.11.3
  CHANGELOG.md
  package.json
Due: none

Radix sort added
  .vscode/launch.json
  package-lock.json
  src/algorithms/sort/additional-demos/sort-performance-comparison-test.demo.js
  src/algorithms/sort/radix-sort/demo/radix-sort.demo.js
  src/algorithms/sort/radix-sort/src/radix-sort.js
  src/algorithms/sort/radix-sort/src/radix-sort.test.js
  src/main.js
Due: eslint --fix, prettier --write

Added count-sort
  src/algorithms/sort/additional-demos/sort-performance-comparison-test.demo.js
  src/algorithms/sort/count-sort/demo/count-sort.demo.js
  src/algorithms/sort/count-sort/src/count-sort.js
  src/algorithms/sort/count-sort/src/count-sort.test.js
  src/main.js
Due: eslint --fix, prettier --write

chore: upgrades dependencies
  docs/docs.demo.js
  package.json
  src/algorithms/search/array/additional-demos/search-performance-comparison-test.demo.js
  src/algorithms/search/array/binary-search/demo/binary-search.demo.js
  src/algorithms/search/array/binary-search/src/binary-search.test.js
  src/algorithms/search/array/linear-search/demo/linear-search.demo.js
  src/algorithms/search/string/additional-demos/search-performance-comparison-test.demo.js
  src/algorithms/search/string/boyer-moore-horspool-search/demo/boyer-moore-horspool-search.demo.js
  src/algorithms/search/string/naive-search/demo/naive-search.demo.js
  src/algorithms/set/additional-demos/view-all.demo.js
  src/algorithms/set/intersection/demo/intersection.demo.js
  src/algorithms/set/set-difference/demo/set-difference.demo.js
  src/algorithms/set/symmetric-difference/demo/symmetric-difference.demo.js
  src/algorithms/set/union/demo/union.demo.js
  src/algorithms/sort/additional-demos/sort-performance-comparison-test.demo.js
  src/algorithms/sort/bubble-sort/demo/bubble-sort.demo.js
  src/algorithms/sort/insertion-sort/demo/insertion-sort.demo.js
  src/algorithms/sort/merge-sort/demo/merge-sort.demo.js
  src/algorithms/sort/quick-sort/demo/quick-sort.demo.js
  src/algorithms/sort/selection-sort/demo/selection-sort.demo.js
  src/data-structures/array/demo/array.demo.js
  src/data-structures/binary-search-tree/demo/binary-search-tree-with-display.js
  src/data-structures/binary-search-tree/demo/binary-search-tree.demo.js
  src/data-structures/doubly-linked-list/demo/doubly-linked-list.demo.js
  src/data-structures/hash-table/demo/hash-table.demo.js
  src/data-structures/linked-list/demo/linked-list.demo.js
  src/data-structures/priority-queue/demo/priority-queue.demo.js
  src/data-structures/queue/demo/queue.demo.js
  src/data-structures/set/demo/set.demo.js
  src/data-structures/stack/demo/stack.demo.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(storybook): builds storybook static site v28
  storybook-dist/0.57393f08e9086f4cd7c2.manager.bundle.js
  storybook-dist/4.42e7ac096c87d6b2bbd6.manager.bundle.js
  storybook-dist/4.42e7ac096c87d6b2bbd6.manager.bundle.js.LICENSE.txt
  storybook-dist/5.c6e8bbac529fc3a0d111.manager.bundle.js
  storybook-dist/5.c6e8bbac529fc3a0d111.manager.bundle.js.LICENSE.txt
  storybook-dist/6.43ca86d73f8b013c1147.manager.bundle.js
  storybook-dist/7.75cf016246948b3b4900.manager.bundle.js
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.7fd714c7937ac4d22a4b.bundle.js
  storybook-dist/main.7fd714c7937ac4d22a4b.bundle.js.map
  storybook-dist/main.a9c1ad662e98837e1b49.manager.bundle.js
  storybook-dist/main.c63fea7721337b01344a.bundle.js
  storybook-dist/main.d592b7c7.iframe.bundle.js
  storybook-dist/runtime~main.7fd714c7937ac4d22a4b.bundle.js
  storybook-dist/runtime~main.7fd714c7937ac4d22a4b.bundle.js.map
  storybook-dist/runtime~main.956debcf58dc262fef06.manager.bundle.js
  storybook-dist/runtime~main.b0af52cf.iframe.bundle.js
  storybook-dist/runtime~main.cb88fc986ee6a42eb7f0.bundle.js
  storybook-dist/sb_dll/storybook_ui-manifest.json
  storybook-dist/sb_dll/storybook_ui_dll.LICENCE
  storybook-dist/sb_dll/storybook_ui_dll.js
  storybook-dist/vendors~main.2fb668d2.iframe.bundle.js
  storybook-dist/vendors~main.2fb668d2.iframe.bundle.js.LICENSE.txt
  storybook-dist/vendors~main.2fb668d2.iframe.bundle.js.map
  storybook-dist/vendors~main.34e07ba00e03f05d8a47.manager.bundle.js
  storybook-dist/vendors~main.34e07ba00e03f05d8a47.manager.bundle.js.LICENSE.txt
  storybook-dist/vendors~main.7b5c0fd238122b51d8f0.bundle.js
  storybook-dist/vendors~main.7fd714c7937ac4d22a4b.bundle.js
  storybook-dist/vendors~main.7fd714c7937ac4d22a4b.bundle.js.LICENSE
  storybook-dist/vendors~main.7fd714c7937ac4d22a4b.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.11.4
  CHANGELOG.md
  package.json
Due: none

refactor: removes comments from Jest config file
  jest.config.js
Due: eslint --fix, prettier --write

chore: upgrades rollup dependencies
  package.json
  rollup.config.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: changes Storybook button color for better color contrast
  .storybook/storybook.css
Due: stylelint --fix

chore(storybook): uses new configuration files
  .storybook/addons.js
  .storybook/config.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  babel.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

chore(storybook): builds storybook static site v29
  storybook-dist/0.57393f08e9086f4cd7c2.manager.bundle.js
  storybook-dist/0.c8bfaecc233b5ee4c2de.manager.bundle.js
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.9092945a.iframe.bundle.js
  storybook-dist/main.a9c1ad662e98837e1b49.manager.bundle.js
  storybook-dist/main.cf7d4ae9077db9c932c8.manager.bundle.js
  storybook-dist/main.d592b7c7.iframe.bundle.js
  storybook-dist/runtime~main.42d170403d03da9984c4.manager.bundle.js
  storybook-dist/runtime~main.956debcf58dc262fef06.manager.bundle.js
  storybook-dist/vendors~main.2fb668d2.iframe.bundle.js
  storybook-dist/vendors~main.2fb668d2.iframe.bundle.js.map
  storybook-dist/vendors~main.34e07ba00e03f05d8a47.manager.bundle.js
  storybook-dist/vendors~main.923ef88f0fdd7ac2a5ad.manager.bundle.js
  storybook-dist/vendors~main.923ef88f0fdd7ac2a5ad.manager.bundle.js.LICENSE.txt
  storybook-dist/vendors~main.b8543278.iframe.bundle.js
  storybook-dist/vendors~main.b8543278.iframe.bundle.js.LICENSE.txt
  storybook-dist/vendors~main.b8543278.iframe.bundle.js.map
Due: eslint --fix, prettier --write

fix(storybook): removes babel loose mode warning
  babel.config.js
  package.json
Due: eslint --fix, prettier --write

chore(release): 1.11.5
  CHANGELOG.md
  package.json
Due: none

feat: implements counting sort algorithm
  README.md
  src/algorithms/sort/additional-demos/sort-performance-comparison-test.demo.js
  src/algorithms/sort/counting-sort/demo/counting-sort.demo.js
  src/algorithms/sort/counting-sort/src/counting-sort.js
  src/algorithms/sort/counting-sort/src/counting-sort.test.js
  src/main.js
Due: eslint --fix, prettier --write

chore(storybook): builds storybook static site v30
  storybook-dist/iframe.html
  storybook-dist/main.9092945a.iframe.bundle.js
  storybook-dist/main.fa70eda5.iframe.bundle.js
  storybook-dist/vendors~main.b8543278.iframe.bundle.js
  storybook-dist/vendors~main.b8543278.iframe.bundle.js.map
  storybook-dist/vendors~main.d62034ac.iframe.bundle.js
  storybook-dist/vendors~main.d62034ac.iframe.bundle.js.LICENSE.txt
  storybook-dist/vendors~main.d62034ac.iframe.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.12.0
  CHANGELOG.md
  package.json
Due: none

fix: updates the description of counting sort
  src/algorithms/sort/counting-sort/src/counting-sort.js
Due: eslint --fix, prettier --write
