Repository thawkin3/js-data-structures-and-algorithms: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}

feat(naive-search): implements the naive search for strings
  src/algorithms/search/string/boyer-moore-horspool-search/src/boyer-moore-horspool-search.js
  src/algorithms/search/string/boyer-moore-horspool-search/src/boyer-moore-horspool-search.test.js
  src/algorithms/search/string/naive-search/src/naive-search.js
  src/algorithms/search/string/naive-search/src/naive-search.test.js
Due: eslint --fix, prettier --write

chore(release): 1.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(b-m-h-search): implements the Boyer-Moore-Horspool searching algorithm
  src/algorithms/search/string/boyer-moore-horspool-search/src/boyer-moore-horspool-search.js
  src/algorithms/search/string/boyer-moore-horspool-search/src/boyer-moore-horspool-search.test.js
  src/algorithms/search/string/naive-search/src/naive-search.js
  src/algorithms/search/string/naive-search/src/naive-search.test.js
  src/main.js
Due: eslint --fix, prettier --write

docs(string-searching): removes all todos regarding string searching
  .storybook/storybook.css
  README.md
  src/algorithms/search/string/additional-demos/search-performance-comparison-test.demo.js
  src/algorithms/search/string/demo-utils/search-performance-test.demo.js
Due: stylelint --fix, eslint --fix, prettier --write

chore(release): 1.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(templates): creates pull request template
  .github/pull_request_template.md
Due: prettier --write

chore(templates): creates pull request template (#5)
  .github/pull_request_template.md
Due: prettier --write

chore(storybook): builds storybook static site v17
  storybook-dist/iframe.html
  storybook-dist/main.69f9700881e42c70b2ed.bundle.js
  storybook-dist/main.69f9700881e42c70b2ed.bundle.js.map
  storybook-dist/main.a44860b4b257cdf89f1d.bundle.js
  storybook-dist/main.a44860b4b257cdf89f1d.bundle.js.map
  storybook-dist/runtime~main.69f9700881e42c70b2ed.bundle.js.map
  storybook-dist/runtime~main.a44860b4b257cdf89f1d.bundle.js
  storybook-dist/runtime~main.a44860b4b257cdf89f1d.bundle.js.map
  storybook-dist/vendors~main.69f9700881e42c70b2ed.bundle.js.map
  storybook-dist/vendors~main.a44860b4b257cdf89f1d.bundle.js
  storybook-dist/vendors~main.a44860b4b257cdf89f1d.bundle.js.LICENSE
  storybook-dist/vendors~main.a44860b4b257cdf89f1d.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.5.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(dependencies): upgrades all dependencies
  .lintstagedrc
  package.json
  yarn.lock
Due: none

feat(linked-list): implements the reverse method for both linked lists
  .prettierignore
  src/data-structures/doubly-linked-list/src/doubly-linked-list.js
  src/data-structures/doubly-linked-list/src/doubly-linked-list.test.js
  src/data-structures/linked-list/src/linked-list.js
  src/data-structures/linked-list/src/linked-list.test.js
Due: eslint --fix, prettier --write

feat(linked-list): implements the traverse method for both linked lists
  src/data-structures/doubly-linked-list/src/doubly-linked-list.js
  src/data-structures/doubly-linked-list/src/doubly-linked-list.test.js
  src/data-structures/linked-list/src/linked-list.js
  src/data-structures/linked-list/src/linked-list.test.js
Due: eslint --fix, prettier --write

chore(storybook): builds storybook static site v18
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.25662f1f4cd54838cb0c.bundle.js
  storybook-dist/main.a44860b4b257cdf89f1d.bundle.js
  storybook-dist/main.a44860b4b257cdf89f1d.bundle.js.map
  storybook-dist/main.d53a83170e9c478d726a.bundle.js
  storybook-dist/main.d53a83170e9c478d726a.bundle.js.map
  storybook-dist/main.fd747299552707a5608b.bundle.js
  storybook-dist/runtime~main.a44860b4b257cdf89f1d.bundle.js.map
  storybook-dist/runtime~main.d53a83170e9c478d726a.bundle.js
  storybook-dist/runtime~main.d53a83170e9c478d726a.bundle.js.map
  storybook-dist/sb_dll/storybook_ui_dll.js
  storybook-dist/vendors~main.4f22554e1952e28acec9.bundle.js
  storybook-dist/vendors~main.4f4fa26c3ed40dce6049.bundle.js
  storybook-dist/vendors~main.a44860b4b257cdf89f1d.bundle.js
  storybook-dist/vendors~main.a44860b4b257cdf89f1d.bundle.js.map
  storybook-dist/vendors~main.d53a83170e9c478d726a.bundle.js
  storybook-dist/vendors~main.d53a83170e9c478d726a.bundle.js.LICENSE
  storybook-dist/vendors~main.d53a83170e9c478d726a.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(doubly-linked-list): implements a traverseReverse method for traversing from tail to head
  src/data-structures/doubly-linked-list/src/doubly-linked-list.js
  src/data-structures/doubly-linked-list/src/doubly-linked-list.test.js
Due: eslint --fix, prettier --write

chore(storybook): builds storybook static site v19
  storybook-dist/iframe.html
  storybook-dist/main.4611cc5e54ad7a065a40.bundle.js
  storybook-dist/main.4611cc5e54ad7a065a40.bundle.js.map
  storybook-dist/main.d53a83170e9c478d726a.bundle.js
  storybook-dist/main.d53a83170e9c478d726a.bundle.js.map
  storybook-dist/runtime~main.4611cc5e54ad7a065a40.bundle.js
  storybook-dist/runtime~main.4611cc5e54ad7a065a40.bundle.js.map
  storybook-dist/runtime~main.d53a83170e9c478d726a.bundle.js.map
  storybook-dist/vendors~main.4611cc5e54ad7a065a40.bundle.js
  storybook-dist/vendors~main.4611cc5e54ad7a065a40.bundle.js.LICENSE
  storybook-dist/vendors~main.4611cc5e54ad7a065a40.bundle.js.map
  storybook-dist/vendors~main.d53a83170e9c478d726a.bundle.js.map
Due: eslint --fix, prettier --write

chore(commitlint): replaces validate-commit-msg with commitlint
  .commitlintrc.json
  .huskyrc.json
  .vcmrc
  package.json
  yarn.lock
Due: none

chore(dependencies): upgrades dependencies
  package.json
  yarn.lock
Due: none

chore(release): 1.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): adds an npm downloads badge
  README.md
Due: prettier --write

feat(binary-search-tree): creates a BST demo in storybook
  README.md
  package.json
  src/data-structures/binary-search-tree/demo/binary-search-tree-with-display.js
  src/data-structures/binary-search-tree/demo/binary-search-tree.demo.css
  src/data-structures/binary-search-tree/demo/binary-search-tree.demo.js
  yarn.lock
Due: stylelint --fix, eslint --fix, prettier --write

chore(storybook): builds storybook static site v20
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.25662f1f4cd54838cb0c.bundle.js
  storybook-dist/main.4611cc5e54ad7a065a40.bundle.js
  storybook-dist/main.4611cc5e54ad7a065a40.bundle.js.map
  storybook-dist/main.4a55826f24bac8581b97.bundle.js
  storybook-dist/main.4a55826f24bac8581b97.bundle.js.map
  storybook-dist/main.85c279e67634af03d182.bundle.js
  storybook-dist/runtime~main.4611cc5e54ad7a065a40.bundle.js.map
  storybook-dist/runtime~main.4a55826f24bac8581b97.bundle.js
  storybook-dist/runtime~main.4a55826f24bac8581b97.bundle.js.map
  storybook-dist/vendors~main.4611cc5e54ad7a065a40.bundle.js
  storybook-dist/vendors~main.4611cc5e54ad7a065a40.bundle.js.map
  storybook-dist/vendors~main.4a55826f24bac8581b97.bundle.js
  storybook-dist/vendors~main.4a55826f24bac8581b97.bundle.js.LICENSE
  storybook-dist/vendors~main.4a55826f24bac8581b97.bundle.js.map
  storybook-dist/vendors~main.4f4fa26c3ed40dce6049.bundle.js
  storybook-dist/vendors~main.5b571da9e6ea4dd87f1e.bundle.js
Due: eslint --fix, prettier --write

docs(changelog): fixes heading level in changelog
  CHANGELOG.md
Due: prettier --write

chore(release): 1.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(commitizen): refactored the config in package.json to match the setup guide
  package.json
Due: none

docs(readme): adds a badge for prettier
  README.md
Due: prettier --write

chore(storybook): builds storybook static site v21
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.4a55826f24bac8581b97.bundle.js.map
  storybook-dist/main.85c279e67634af03d182.bundle.js
  storybook-dist/main.93e7efd3c536975764f6.bundle.js
  storybook-dist/main.93e7efd3c536975764f6.bundle.js.map
  storybook-dist/main.fd747299552707a5608b.bundle.js
  storybook-dist/runtime~main.4a55826f24bac8581b97.bundle.js.map
  storybook-dist/runtime~main.93e7efd3c536975764f6.bundle.js
  storybook-dist/runtime~main.93e7efd3c536975764f6.bundle.js.map
  storybook-dist/sb_dll/storybook_ui_dll.js
  storybook-dist/vendors~main.25b0fbe8d5e3f5e0c28b.bundle.js
  storybook-dist/vendors~main.4a55826f24bac8581b97.bundle.js.map
  storybook-dist/vendors~main.5b571da9e6ea4dd87f1e.bundle.js
  storybook-dist/vendors~main.93e7efd3c536975764f6.bundle.js
  storybook-dist/vendors~main.93e7efd3c536975764f6.bundle.js.LICENSE
  storybook-dist/vendors~main.93e7efd3c536975764f6.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.8.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(dependencies): updates dependencies
  package.json
  yarn.lock
Due: none

feat(stack): adds a stack implementation that uses a linked list
  src/data-structures/stack/src/stack-from-linked-list.js
  src/data-structures/stack/src/stack-from-linked-list.test.js
  src/data-structures/stack/src/stack.js
Due: eslint --fix, prettier --write

feat(queue): adds a queue implementation from a doubly linked list
  src/data-structures/queue/src/queue-from-doubly-linked-list.js
  src/data-structures/queue/src/queue-from-doubly-linked-list.test.js
  src/data-structures/queue/src/queue.js
Due: eslint --fix, prettier --write

docs(readme): updates readme with new stack and queue implementations
  README.md
Due: prettier --write

chore(storybook): builds storybook static site v22
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.25662f1f4cd54838cb0c.bundle.js
  storybook-dist/main.93e7efd3c536975764f6.bundle.js.map
  storybook-dist/main.cebbe3cad874e22df870.bundle.js
  storybook-dist/main.cebbe3cad874e22df870.bundle.js.map
  storybook-dist/main.fd747299552707a5608b.bundle.js
  storybook-dist/runtime~main.93e7efd3c536975764f6.bundle.js.map
  storybook-dist/runtime~main.cebbe3cad874e22df870.bundle.js
  storybook-dist/runtime~main.cebbe3cad874e22df870.bundle.js.map
  storybook-dist/vendors~main.25b0fbe8d5e3f5e0c28b.bundle.js
  storybook-dist/vendors~main.7085c2eeb80692d4967b.bundle.js
  storybook-dist/vendors~main.93e7efd3c536975764f6.bundle.js.map
  storybook-dist/vendors~main.cebbe3cad874e22df870.bundle.js
  storybook-dist/vendors~main.cebbe3cad874e22df870.bundle.js.LICENSE
  storybook-dist/vendors~main.cebbe3cad874e22df870.bundle.js.map
Due: eslint --fix, prettier --write

chore(release): 1.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

build(linting): simplifies linting scripts with npm-run-all
  .travis.yml
  .versionrc.json
  package.json
  yarn.lock
Due: none

style(rollup): deletes commented out code in rollup config
  rollup.config.js
Due: eslint --fix, prettier --write
