Repository thawkin3/js-data-structures-and-algorithms: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx,ts,tsx,md}": [
    "prettier --write",
    "git add"
  ]
}

docs(contributing.md): corrected the commit command to be 'yarn cz'
  CONTRIBUTING.md
Due: prettier --write

docs(readme): updates yarn commands in the README
  README.md
Due: prettier --write

build(react-scripts,babel,jest): strips out react-scripts from the project
  babel.config.js
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write

build(eslint): configures eslint now that react-scripts has been removed
  .eslintignore
  .eslintrc.json
  .lintstagedrc
  package.json
  src/data-structures/binary-search-tree/src/binary-search-tree.test.js
  yarn.lock
Due: prettier --write

fix(prettier): stops checking json files when formatting with prettier
  .lintstagedrc
  package.json
Due: none

ci(travis): adds eslint and stylelint to travis config
  .travis.yml
Due: none

docs(readme): changes formatting on the npm scripts to make them more concise
  .lintstagedrc
  README.md
Due: prettier --write

build(rollup): uses Rollup to create a build in the dist directory from the src files
  .eslintignore
  .gitignore
  .prettierignore
  README.md
  babel.config.js
  package.json
  rollup.config.js
  src/main.js
  yarn.lock
Due: prettier --write

chore(package.json): removes the 'private: true' property so this can be published on npm
  package.json
Due: none

chore(npmrc): adds an npmrc file but gitignores it
  .gitignore
Due: none

docs(readme): adds an npm version badge to the README
  README.md
Due: prettier --write

build(standard-version): adds standard-version to automate versioning and CHANGELOG generation
  .versionrc.json
  package.json
  yarn.lock
Due: none

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(changelog): adds commits for pre-1.0.0 release that standard-version didn't pick up
  .prettierignore
  CHANGELOG.md
Due: prettier --write

docs(readme.md,contributing.md): improves the documentation regarding the development process
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs(readme): adds a Conventional Commits badge to the readme
  README.md
Due: prettier --write

chore(dependencies): upgrades dependencies
  package.json
  yarn.lock
Due: none

docs(readme): adds a bundlephobia badge to show the minified and gzipped size of the npm package
  README.md
Due: prettier --write

chore(templates): Create issue templates for bug reports and feature requests
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

docs(contributing.md): updates guidelines for bug reports and feature requests
  .prettierignore
  CONTRIBUTING.md
Due: prettier --write

test(binary-search-tree): finishes tests for BST for node deletion
  src/data-structures/binary-search-tree/src/binary-search-tree.js
  src/data-structures/binary-search-tree/src/binary-search-tree.test.js
Due: prettier --write

feat(binary-search-tree): implements three forms of traversal for the BST
  src/data-structures/binary-search-tree/src/binary-search-tree.js
  src/data-structures/binary-search-tree/src/binary-search-tree.test.js
Due: prettier --write

fix(binary-search-tree): fixes use case where duplicate values are added to the tree
  src/data-structures/binary-search-tree/src/binary-search-tree.js
  src/data-structures/binary-search-tree/src/binary-search-tree.test.js
  src/data-structures/doubly-linked-list/src/doubly-linked-list.test.js
  src/data-structures/linked-list/src/linked-list.test.js
  src/data-structures/priority-queue/src/priority-queue.test.js
  src/data-structures/queue/src/queue.test.js
  src/data-structures/stack/src/stack.test.js
Due: prettier --write

docs(readme): updates todo list on the binary-search-tree in the readme
  README.md
Due: prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

improvement(storybook): removes the 'actions' storybook add-on
  .storybook/addons.js
  .vcmrc
  package.json
Due: prettier --write

feat(binary-search,linear-search): adds storybook example for searching algorithms performance test
  src/algorithms/search/additional-demos/declaration-of-independence.js
  src/algorithms/search/additional-demos/search-performance-comparison-test.demo.css
  src/algorithms/search/additional-demos/search-performance-comparison-test.demo.js
Due: stylelint --fix, prettier --write

fix(sorting): fixes illegal element nesting in sorting perf test example
  src/algorithms/sort/additional-demos/sort-performance-comparison-test.demo.css
  src/algorithms/sort/additional-demos/sort-performance-comparison-test.demo.js
Due: stylelint --fix, prettier --write

feat(binary-search,linear-search): adds storybook examples for binary search and linear search
  README.md
  src/algorithms/search/additional-demos/search-performance-comparison-test.demo.js
  src/algorithms/search/binary-search/demo/binary-search.demo.js
  src/algorithms/search/demo-utils/declaration-of-independence.js
  src/algorithms/search/demo-utils/search-performance-test.demo.css
  src/algorithms/search/demo-utils/search-performance-test.demo.js
  src/algorithms/search/linear-search/demo/linear-search.demo.js
Due: stylelint --fix, prettier --write

chore(storybook): builds storybook static site v14
  storybook-dist/iframe.html
  storybook-dist/main.76f25199ce4b2a918720.bundle.js
  storybook-dist/main.76f25199ce4b2a918720.bundle.js.map
  storybook-dist/main.a776a5a9dc5d5527e853.bundle.js
  storybook-dist/main.a776a5a9dc5d5527e853.bundle.js.map
  storybook-dist/runtime~main.76f25199ce4b2a918720.bundle.js.map
  storybook-dist/runtime~main.a776a5a9dc5d5527e853.bundle.js
  storybook-dist/runtime~main.a776a5a9dc5d5527e853.bundle.js.map
  storybook-dist/vendors~main.76f25199ce4b2a918720.bundle.js
  storybook-dist/vendors~main.76f25199ce4b2a918720.bundle.js.map
  storybook-dist/vendors~main.a776a5a9dc5d5527e853.bundle.js
  storybook-dist/vendors~main.a776a5a9dc5d5527e853.bundle.js.LICENSE
  storybook-dist/vendors~main.a776a5a9dc5d5527e853.bundle.js.map
Due: prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(text-input): fixes the focus/hover state on the storybook text inputs
  .storybook/storybook.css
Due: stylelint --fix

fix(linear-search,binary-search): updates search algorithms to handle bad input
  .storybook/storybook.css
  src/algorithms/search/array/additional-demos/search-performance-comparison-test.demo.css
  src/algorithms/search/array/additional-demos/search-performance-comparison-test.demo.js
  src/algorithms/search/array/binary-search/demo/binary-search.demo.js
  src/algorithms/search/array/binary-search/src/binary-search.js
  src/algorithms/search/array/binary-search/src/binary-search.test.js
  src/algorithms/search/array/demo-utils/search-performance-test.demo.css
  src/algorithms/search/array/demo-utils/search-performance-test.demo.js
  src/algorithms/search/array/linear-search/demo/linear-search.demo.js
  src/algorithms/search/array/linear-search/src/linear-search.js
  src/algorithms/search/array/linear-search/src/linear-search.test.js
  src/algorithms/search/string/additional-demos/search-performance-comparison-test.demo.css
  src/algorithms/search/string/additional-demos/search-performance-comparison-test.demo.js
  src/algorithms/search/string/binary-search/demo/binary-search.demo.js
  src/algorithms/search/string/binary-search/src/binary-search.js
  src/algorithms/search/string/binary-search/src/binary-search.test.js
  src/algorithms/search/string/demo-utils/declaration-of-independence.js
  src/algorithms/search/string/demo-utils/search-performance-test.demo.css
  src/algorithms/search/string/demo-utils/search-performance-test.demo.js
  src/algorithms/search/string/linear-search/demo/linear-search.demo.js
  src/algorithms/search/string/linear-search/src/linear-search.js
  src/algorithms/search/string/linear-search/src/linear-search.test.js
  src/main.js
Due: stylelint --fix, prettier --write

feat(naive-search,b-m-h-search): adds placeholder implementations for string searching
  .storybook/storybook.css
  README.md
  src/algorithms/search/string/additional-demos/search-performance-comparison-test.demo.js
  src/algorithms/search/string/binary-search/demo/binary-search.demo.js
  src/algorithms/search/string/binary-search/src/binary-search.js
  src/algorithms/search/string/binary-search/src/binary-search.test.js
  src/algorithms/search/string/boyer-moore-horspool-search/demo/boyer-moore-horspool-search.demo.js
  src/algorithms/search/string/boyer-moore-horspool-search/src/boyer-moore-horspool-search.js
  src/algorithms/search/string/boyer-moore-horspool-search/src/boyer-moore-horspool-search.test.js
  src/algorithms/search/string/demo-utils/search-performance-test.demo.js
  src/algorithms/search/string/linear-search/demo/linear-search.demo.js
  src/algorithms/search/string/linear-search/src/linear-search.js
  src/algorithms/search/string/linear-search/src/linear-search.test.js
  src/algorithms/search/string/naive-search/demo/naive-search.demo.js
  src/algorithms/search/string/naive-search/src/naive-search.js
  src/algorithms/search/string/naive-search/src/naive-search.test.js
Due: stylelint --fix, prettier --write

chore(storybook): builds storybook static site v15
  storybook-dist/iframe.html
  storybook-dist/main.69f9700881e42c70b2ed.bundle.js
  storybook-dist/main.69f9700881e42c70b2ed.bundle.js.map
  storybook-dist/main.a776a5a9dc5d5527e853.bundle.js
  storybook-dist/main.a776a5a9dc5d5527e853.bundle.js.map
  storybook-dist/runtime~main.69f9700881e42c70b2ed.bundle.js
  storybook-dist/runtime~main.69f9700881e42c70b2ed.bundle.js.map
  storybook-dist/runtime~main.a776a5a9dc5d5527e853.bundle.js.map
  storybook-dist/vendors~main.69f9700881e42c70b2ed.bundle.js
  storybook-dist/vendors~main.69f9700881e42c70b2ed.bundle.js.LICENSE
  storybook-dist/vendors~main.69f9700881e42c70b2ed.bundle.js.map
  storybook-dist/vendors~main.a776a5a9dc5d5527e853.bundle.js
  storybook-dist/vendors~main.a776a5a9dc5d5527e853.bundle.js.map
Due: prettier --write

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(changelog): makes the ordering of Bug Fixes and Features consistent in the changelog
  CHANGELOG.md
Due: prettier --write

refactor(vcm): makes list of commit types match what is shown in commitizen
  .vcmrc
Due: none
